.u-center-text {
  text-align: center;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem;
}
.u-margin-bottom-m {
  margin-bottom: 4rem;
}
.u-margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.u-margin-top-lg {
  margin-bottom: 8rem;
}
.u-margin-top-xl {
  margin-bottom: 10rem;
}
